/*-- scss:defaults --*/

$body-bg: #fff;
$body-color: #5B6770;
/*$body-color: #005670;*/
$link-color: #2a76dd;
$font-family-sans-serif: "Source Sans Pro", Helvetica, sans-serif;
$presentation-heading-color: #005670;
$code-block-border-color:  #005670;
